<?xml version="1.0"?>
<configuration>
  <system.web>
    <membership defaultProvider="TestMembershipProvider">
      <providers>
        <add name="TestMembershipProvider" type="AspNetMembershipManager.TestWebsitesCommon.TestMembershipProvider, AspNetMembershipManager.TestWebsitesCommon" />
      </providers>
    </membership>
    <roleManager defaultProvider="TestRoleProvider" enabled="true">
      <providers>
        <add name="TestRoleProvider" type="AspNetMembershipManager.TestWebsitesCommon.TestRoleProvider, AspNetMembershipManager.TestWebsitesCommon" applicationName="/" />
      </providers>
    </roleManager>
    <profile defaultProvider="TestProfileProvider" enabled="true" inherits="TestWebsiteWithCustomProfile.CustomProfile">
      <providers>
        <add name="TestProfileProvider" type="AspNetMembershipManager.TestWebsitesCommon.TestProfileProvider, AspNetMembershipManager.TestWebsitesCommon" applicationName="/" />
      </providers>
    </profile>
  </system.web>
</configuration>
