<?xml version="1.0"?>
<configuration>
  <system.web>
	  <profile enabled="false" />
    <membership defaultProvider="TestMembershipProvider">
      <providers>
        <add name="TestMembershipProvider" type="TestWebsiteWithOnlyMembershipProvider.TestMembershipProvider" />
      </providers>
    </membership>
  </system.web>
</configuration>
