<?xml version="1.0"?>
<configuration>
  <system.web>
    <membership defaultProvider="TestMembershipProvider">
      <providers>
        <add name="TestMembershipProvider" type="TestWebsiteWithCustomProviders.TestMembershipProvider" />
      </providers>
    </membership>
    <roleManager defaultProvider="TestRoleProvider" enabled="true">
      <providers>
        <add name="TestRoleProvider" type="TestWebsiteWithCustomProviders.TestRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <profile defaultProvider="TestProfileProvider" enabled="true">
      <providers>
        <add name="TestProfileProvider" type="TestWebsiteWithCustomProviders.TestProfileProvider" applicationName="/" />
      </providers>
    </profile>
  </system.web>
</configuration>
