<?xml version="1.0"?>
<configuration>
	<system.web>
		<membership defaultProvider="TestMembershipProvider">
			<providers>
				<add name="TestMembershipProvider" type="AspNetMembershipManager.TestWebsitesCommon.TestMembershipProvider, AspNetMembershipManager.TestWebsitesCommon" />
			</providers>
		</membership>
		<roleManager defaultProvider="TestRoleProvider" enabled="true">
			<providers>
				<add name="TestRoleProvider" type="AspNetMembershipManager.TestWebsitesCommon.TestRoleProvider, AspNetMembershipManager.TestWebsitesCommon" applicationName="/" />
			</providers>
		</roleManager>
		<profile defaultProvider="TestProfileProvider" enabled="true">
			<providers>
				<add name="TestProfileProvider" type="AspNetMembershipManager.TestWebsitesCommon.TestProfileProvider, AspNetMembershipManager.TestWebsitesCommon" applicationName="/" />
			</providers>
			<properties>
				<add name="StringValue" type="System.String" />
        <group name="Address">
          <add name="Street" />
          <add name="City" />
          <add name="CountryOrRegion" />
        </group>
			</properties>
		</profile>
	</system.web>
</configuration>
