<?xml version="1.0" encoding="utf-8"?>
<configuration>
	﻿<connectionStrings>
		<add name="ProviderDB" connectionString="Data Source=|DataDirectory|\Users.sdf" providerName="System.Data.SqlServerCe.4.0" />
	</connectionStrings>
	<system.web>
		<profile enabled="false" />
		<membership defaultProvider="DefaultMembershipProvider">
			<providers>
				<add name="DefaultMembershipProvider"
					 type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					 connectionStringName="ProviderDB"
					 enablePasswordRetrieval="false"
					 enablePasswordReset="true"
					 requiresQuestionAndAnswer="false"
					 requiresUniqueEmail="false"
					 maxInvalidPasswordAttempts="5"
					 minRequiredPasswordLength="3"
					 minRequiredNonalphanumericCharacters="1"
					 passwordAttemptWindow="10"
					 applicationName="/" />
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="DefaultRoleProvider">
			<providers>
				<add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="ProviderDB" applicationName="/" />
			</providers>
		</roleManager>
	</system.web>
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SqlServerCe.4.0" />
			<add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
		</DbProviderFactories>
	</system.data>
</configuration>